name: ci
on:
  push:
    branches: [main]
  pull_request: {}

jobs:
  test:
    strategy:
      matrix:
        go-version: ['1.18']
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}
    - uses: actions/checkout@v3
    - run: go install gotest.tools/gotestsum@v1.8.0
    - run: gotestsum -ftestname -- -race ./...
